body {
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    height: 100vh;
}

form {
    min-height: 50%;
}

.uploaded-image {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

.image-snippet {
    margin-top: 100px;
}