body {
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 60px);
}

.uploaded-image {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

.info {
    margin-bottom: 5px;
}