{% extends "layout.html" %}

{% block body %}
    <div class="text-center">
        <!-- Upload input  -->
        <h3 class="mb-3">Upload Your Image</h3>
        <p>Accepted files: PNG, JPEG, JPG</p>
        <p>File must not exceed 16MB</p>
        {% if error %}
        <div class="text-danger">
            <p><b>* {{error}}</b></p>
        </div>
        {% endif %}

        <form action="/" method="post" enctype="multipart/form-data"> 
            <div class="mb-3">
                <input class="form-control form-control-lg" name="imgFile" id="imgFile" type="file">
            </div>
            <div>
                <button class="btn btn-dark" type="submit">Upload</button>
            </div>
        </form>
    </div>
{% endblock %}